.banner {

	font-family: 'Anton', sans-serif;
    color: #fff;
    background-color: #f2f2f2;
	background: linear-gradient(180deg, rgb(2, 111, 165) 22%, rgb(209, 152, 152) 100%);
	min-height: 40vh;
	display: flex;
	align-items: center;

    h1 {
        padding-top: 50px;
        font-family: 'Anton', sans-serif;
        width: 100%;
        color: transparent;
        text-align: center;
        text-transform: uppercase;
        font-size: 150px;
        font-weight: bold;
    
        background-image: url('/img/banner_0.png');
        background-size: cover;
        background-position-y: 700px;
        
        background-clip: text;
        -webkit-background-clip: text;
    
        -webkit-text-fill-color: transparent;
    }
    
}


